*.log
*.pot
*.pyc
*.egg
*.egg-info
dist
build
eggs
parts
sdist
.installed.cfg
MANIFEST
envs
apps
.initialized
*.sql
*.db
pip-log.txt
.coverage
.tox
.idea
.project
.pydevproject
.settings
.DS_Store
*.swp
*.test
.ipynb_checkpoints
